if !games || games.length === 0
  p You don't have any games!
else
  table.table.is-fullwidth
    thead
      tr
        th Number
        th Id
        th Status
        th Publish
    tbody
      each game, index in games
        tr
          th= index + 1
          td= game.id
          td= game.status || 'Inactive'
          td
            a.button Publish