- const { name } = self;

.object-block.panel-block.group(
  style="justify-content: space-between;"
)
  span.type-name= name || 'NA'
  button.button.is-small.new-object-button(
    name="add new object"
  )
    span.icon
      i.fa.fa-plus
    span Add Object
