- const { name } = self;

.object-block.panel-block.group(
  style="justify-content: space-between;"
)
  span.type-name= name || 'NA'
  .field.has-addons
    .control
      button.button.is-small.new-rect-button(
        name="add new rectangle"
      )
        span.icon
          i.fa.fa-square
    .control
      button.button.is-small.new-ellip-button(
        name="add new ellipse"
      )
        span.icon
          i.fa.fa-circle
