extends ./templates/boilerplate

block page_content

  include ./templates/header

  section.hero.is-fullheight
    .hero-body
      .container.has-text-centered
        .column.is-4.is-offset-4
          h3.title.has-text-grey 404 Error
          p.subtitle.has-text-grey Page Not Found