extends ./templates/boilerplate

block page_content
  
  include ./templates/header

  section.section
    .container
      .is-pulled-left
        h1.title Account
        h4.subtitle Account things and stuff
      .is-pulled-right
        .control
          a#logout.button Logout

  section.section
    .container
      article.message
        #user-info.message-body

  section.section
    .container
      .control
        a#delete.button.is-danger Delete GameShare Account
      