extends ./templates/boilerplate

block page_content

  include ./templates/header

  section.section
    .container
      h1.title My Games
      h4.subtitle View and manage your games
  section
    .container
      if !self.games || self.games.length === 0
        p You don't have any games!
      else
        table.table.is-fullwidth
          thead
            tr
              th Number
              th Name
              th Status
              th Publish
          tbody
            each game, index in self.games
              tr
                th= index + 1
                td= game.name || 'Unknown'
                td= game.status || 'Inactive'
                td
                  a.button Publish
              
