extends ./templates/boilerplate

block page_content

  include ./templates/header

  section.section
    .container
      .is-pulled-left
        h1.title My Games
        h4.subtitle View and manage your games
      p.control.is-pulled-right
        a#logout.button
          span
            i.fa.fa-sign-out
          span Logout
  section
    .container
      table.table.is-fullwidth
        thead
          tr
            th Name
            th Last Modified
            th Created On
            th Status
            th Actions
        tbody#games_content
