extends ./templates/boilerplate

block page_content

  include ./templates/header

  section.section
    .container
      .is-pulled-left
        h1.title My Games
        h4.subtitle View and manage your games
      p.control.is-pulled-right
        a#logout.button Logout (TEMP)    
  section
    #games_content.container
      .is-loading
  section.section
    .container
      p.control
        a#new_game.button NewGame (TEMP)
      
              
