extends ./templates/boilerplate

block page_content

  include ./templates/indexHeader

  section.section.hero.is-fullheight.is-primary.home-body
    .hero-body
      .container.has-text-centered
        .column.is-4.is-offset-4
          h3.title Join GameShare
          p.subtitle Please sign in to proceed.
          //- .box
          .field
            .control
              button#google-sign-in.button.is-large.is-fullwidth
                span.icon
                  i.fa.fa-google
                span Sign In with Google
          .field
            .control
              button#github-sign-in.button.is-large.is-fullwidth
                span.icon
                  i.fa.fa-github
                span Sign In with GitHub