extends ./templates/boilerplate

block page_content

  include ./templates/indexHeader

  section.section.hero.is-fullheight.is-primary.home-body
    .hero-body
      .container
        .columns.is-centered
          .column.is-one-third-desktop.is-half-tablet.has-text-centered
          
            .gameshare-logo.is-inline-block
            h3.title Join GameShare
            p.subtitle Please sign in to proceed.

            .field
              .control
                button#google-sign-in.button.is-large.is-fullwidth
                  span.icon
                    i
                  span Sign In with Google
            .field
              .control
                button#facebook-sign-in.button.is-large.is-fullwidth
                  span.icon
                    i.fa.fa-facebook
                  span Sign In with Facebook
                  
            .field.logged-in
              .control.has-text-centered
                a(href="/games")
                  | Continue as previous user