extends ./templates/boilerplate

block page_content

  include ./templates/header

  .layers
    .layer(id=self.rootId)
    .layer.scoreboard-layer
      .card
        header.card-header
          p.card-header-title Scoreboard
        .card-content
          .content
            #scoreboard
              //- <span class="scoreboard-item"><span>1. test</span><span>test</span></span>

    .layer#loading
      section.hero.is-black.is-fullheight
        .hero-body
          .container
            //- progress#loading-progress.progress.is-success(value="25" max="100") 25%
            #loading-label.has-text-centered Loading Js...