extends ./templates/boilerplate

block page_content

  include ./templates/header

  section.hero.is-fullheight
    .hero-body
      .container.has-text-centered
        .column.is-4.is-offset-4
          h3.title.has-text-grey Register
          p.subtitle.has-text-grey Please register to proceed.
          .box
            form(action="/register")
              //- .field
              //-   .control
              //-     div.g-signin2(data-onsuccess="onSignIn" data-theme="dark")
              .field
                .control
                  input.input.is-large(type="text" placeholder="Username" autofocus="" name="username")
              .field
                .control
                  input.input.is-large(type="email" placeholder="Email" name="email")
              .field
                .control
                  input.input.is-large(type="password" placeholder="Password" name="password")
              .field
                .control
                  input.input.is-large(type="password" placeholder="Retype Password" name="password_again")
              input.button.is-fullwidth.is-info.is-large(type="submit" value="Register")
          p.has-text-grey
            a(href="/login") Sign In
            //- | &nbsp;.&nbsp;
            //- a(href="/") Forgot Password
            | &nbsp;·&nbsp;
            a(href="/") Need Help?