nav.navbar.is-primary(role="navigation" aria-label="dropdown navigation")
  .navbar-brand
    #navbar-burger.navbar-burger.burger
      span
      span
      span
  #navbar-menu.navbar-menu

    .navbar-start
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link(href="/")
          h1.is-size-4
            strong GameShare
        .navbar-dropdown.is-boxed
          a.navbar-item(href="/games")
            span My Games
          a.navbar-item(href="/play")
            span Browse Games
          hr.navbar-divider
          a.navbar-item(href="/edit")
            span.icon
              i.fa.fa-plus
            span Create
          hr.navbar-divider
          a.navbar-item(href="/account")
            span Account
      .navbar-item
        .control
          input#game-name.input(type="text" placeholder="Game Name" required maxlength=32)
      
    .navbar-end
      .navbar-item
        .field.is-grouped
          .control
            .has-text-grey-lighter#save
              span.icon
                i.fa.fa-check
              span Saved

          .control
            a.button.is-success#publish
              span.icon
                i.fa.fa-play
              span Publish