<div class="header-background">
  <section class="container is-fullhd site-header">
    <!-- <img src=${logo} alt="logo"> -->
    <h1 class="title site-name">GameShare</h1>
    <nav class="tabs is-right is-medium">
      <div class="container">
        <ul class="tabs-list">
          <li><a href="/">Home</a></li>
          <li><a href="/play">Play</a></li>
          <li><a href="/edit">Editor</a></li>
        </ul>
      </div>
    </nav>
  </section>
</div>