extends ./navbar

block headerContent
  .navbar-start
    a.navbar-item.logged-in(class=(self.page === 'games') && 'is-active' href="/games")
      span My Games
    a.navbar-item(class=(self.page === 'browse') && 'is-active' href="/play")
      span Browse Games
    
  .logged-in.navbar-end
    .navbar-item
      .control
        a.button.is-warning(href="/edit")
          span.icon
            i.fa.fa-plus
          span Create
    a.navbar-item(class=(self.page === 'account') && 'is-active' href="/account")
      span.icon
        i.fa.fa-user-circle
      span Account
  .logged-out.navbar-end
    .navbar-item
      a.button.is-primary.is-inverted.is-outlined(href="/")
        span Sign In