<section class="container is-fullhd">
  <!-- <img src=${logo} alt="logo"> -->
  <h1 class="title site-name">GameShare</h1>
  <nav class="tabs is-right">
    <div class="container">
      <ul class="tabs-list">
        <li><a href="/">Home</a></li>
        <li><a href="/play">Play</a></li>
        <li><a href="/edit">Editor</a></li>
      </ul>
    </div>
  </nav>
</section>

<!-- parent of canvas has to be fill all available space because canvas fills parent -->