<section class="container">
  <img src="../../src/assets/controller.png">
  <h1 class="title site-name">GameShare</h1>
  <nav class="tabs is-right">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/play">Play</a></li>
        <li><a href="/edit">Editor</a></li>
      </ul>
    </div>
  </nav>
</section>

<!-- parent of canvas has to be fill all available space because canvas fills parent -->