extends ./navbar

block headerContent
  .navbar-end
    a.navbar-item(href="https://github.com/wyattades/GameShare")
      span.icon
        i.fa.fa-github.fa-lg
      //- a.icon.is-primary.is-inverted.is-outlined(href="/") Github
    .navbar-item
      a.button.is-primary.is-outlined.is-inverted(href="/play") Browse Games