nav.navbar.is-primary(class=(self.page !== 'index') && 'has-shadow' role="navigation" aria-label="dropdown navigation")
  .container
    .navbar-brand
      a.navbar-item(href="/")
        h1.is-primary.is-size-4
          strong GameShare
      #navbar-burger.navbar-burger.burger
        span
        span
        span
    #navbar-menu.navbar-menu
      block headerContent
