// First import the variables
@import '../../node_modules/bulma/sass/utilities/initial-variables';

$primary: #EA3D4E;
$dark: #202436;
$light: #F2F5EF;
$info: #FFBAAA;
$grey: #a3a3a3;

$tabs-link-hover-border-bottom-color: $info;

$section-padding: 1rem 0rem;
$content-pre-padding: 1rem 1rem; 

// Then import rest of bulma so variable changes propogate
@import '../../node_modules/bulma/bulma.sass';

.site-header {
  padding: $content-pre-padding;
  background-color: $dark;
}

.site-name {
  margin: $content-pre-padding;
  margin-bottom: 0!important;
  color: $light;
}

.tabs-list {
  border-bottom: none;

  li a { color: $light; }

  li a:hover { color: $info; }
}

.sidebar {
  background-color: $grey; 
  display: block!important;
  margin: 0.75em;
}

.root-column { margin-left: -1.25em; }

// Mysterious CSS that makes everything the height of the page(shouldnt be necessary to add)
html, body, .edit-body, .ui,  {
  height: 100%;  
}

// Mysterious CSS that makes the grid display- doesnt show up otherwise
#app {
  display: flex;
  flex: 1;
  & > * {
    display: flex;
    flex: 1;
  }
}

.ui {
  display: flex;
  flex-direction: column;

  &-body {
    display: flex;
    flex: 1;

    & > * {
      display: flex;
      flex: 1;
    }
  }
}

#loading {
  background-color: white;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}