// FontAwesome icons
@import '~font-awesome/css/font-awesome.min.css';
// Bulma css framework
@import './bulma';

// Assert that cards are equal height
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  .card-footer {
    margin-top: auto;
  }
}

// Hover behavior on status button
.card-header-icon {
  &:hover {
    cursor: default;
  }
  .game-publish {
    &.is-loading {
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
    &.is-success:hover {
      background-color: darken($success, 5%);
    }
  }
}

// Fix issue with status button margin-bottom
.game-status-block {
  margin-bottom: -8px !important;
}

.gameshare-logo {
  width: 250px;
  height: 250px;
  background-image: url(../assets/gameshare.png);
  background-size: contain;  
  background-repeat: no-repeat;  
}

#google-sign-in {
  font-weight: bold;  
  color: #888;
  i {
    width: 24px;
    height: 24px;
    background-image: url(../assets/google.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

$facebook-color: #3B5998;
#facebook-sign-in {
  font-weight: bold;  
  background-color: $facebook-color;
  color: white;
  &:not(:hover) {
    border-color: lighten($facebook-color, 10%);
  }
}

// Navbar
.home-body {
  border-top: 1px solid rgb(111, 188, 236);
}

.logged-out {
  display: none;
}

#game-name {
  font-weight: bold;  
  &:not(:hover):not(:focus) {
    background-color: transparent;
    color: white;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5)
    }
  }
}

#save {
  @include control;
}

// Loading indicator on a div
div.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  &:after {
    @include loader;
    position: absolute;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
    width: 5em;
    height: 5em;
    border-width: 0.25em;
  }
}
// .sidebar {
//   display: block!important;
//   margin: 0.75em;
//   padding-left: 0;
// }

// .root-column {
//   margin-top: 0.75em;
//   margin-left: -1.25em;
// }

// .label { font-weight: $weight-medium; }

// .is-grouped {
//   margin-left: auto;
//   margin-right: auto;
// }

// .type-name {
//   padding-right: 0.5em;
// }

.object-block:hover {
  cursor: pointer !important;
}

.grid-block, .level-block, #object-settings, #type-settings { display: none; }

// Mysterious CSS that makes the grid display- doesnt show up otherwise
html, body, .edit-body { height: 100%; }

// TODO: The following css is required in 'edit' and 'play'

body {
  display: flex;
  flex-direction: column;
}
html {
  overflow-y: hidden;  
}

.layers {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;

  .layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}
