// FontAwesome icons
@import '~font-awesome/css/font-awesome.min.css';
// Bulma css framework
@import './bulma';

.gameshare-logo {
  width: 250px;
  height: 250px;
  background-image: url(../assets/gameshare.png);
  background-size: contain;  
  background-repeat: no-repeat;  
}

#google-sign-in {
  font-weight: bold;
  color: #888;
  i {
    width: 24px;
    height: 24px;
    background-image: url(../assets/google.svg); //url(https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

$facebook-color: #3B5998;
#facebook-sign-in {
  font-weight: bold;
  background-color: $facebook-color;
  color: white;
  &:not(:hover) {
    border-color: $facebook-color;
  }
}

// Navbar
.home-body {
  border-top: 1px solid rgb(111, 188, 236);
}

.logged-out {
  display: none;
}

#game-name {
  font-weight: bold;  
  &:not(:hover):not(:focus) {
    background-color: transparent;
    color: white;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5)
    }
  }
}

// Loading indicator on a div
div.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  &:after {
    @include loader;
    position: absolute;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
    width: 5em;
    height: 5em;
    border-width: 0.25em;
  }
}
.sidebar {
  display: block!important;
  margin: 0.75em;
  padding-left: 0;
}

.root-column {
  margin-top: 0.75em;
  margin-left: -1.25em;
}

.label { font-weight: $weight-medium; }

.is-grouped {
  margin-left: auto;
  margin-right: auto;
}

.type-name {
  padding-right: 0.5em;
}

.grid-block, .object-settings, .level-block { display: none; }

// Mysterious CSS that makes the grid display- doesnt show up otherwise
html, body, .edit-body { height: 100%; }

// TODO: The following css is required in 'edit' and 'play'

body {
  display: flex;
  flex-direction: column;
}
html {
  overflow-y: hidden;  
}

.layers {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;

  .layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}
